$light-gray-100: #ffffff;
$light-gray-200: #F2F2F2;
$light-gray-300: #E5E5E5;
$light-gray-400: #D9D9D9;
$light-gray-500: #CCCCCC;
$light-gray-600: #BFBFBF;

$dark-gray-50: #999999;
$dark-gray-100: #7D7D7D;
$dark-gray-200: #6B6B6B;
$dark-gray-300: #595959;
$dark-gray-400: #474747;
$dark-gray-500: #363636;
$dark-gray-600: #242424;
$dark-gray-700: #1C1C1C;
$dark-gray-800: #141414;
$dark-gray-900: #0D0D0D;
$dark-gray-A100: #858585;
$dark-gray-A200: #757575;
$dark-gray-A400: #757575;
$dark-gray-A700: #212121;

$teal-50: #E0F2F1;
$teal-100: #B2DFDB;
$teal-200: #80CBC4;
$teal-300: #4DB6AC;
$teal-400: #26A69A;
$teal-500: #009688;
$teal-600: #00897B;
$teal-700: #00796B;
$teal-800: #00695C;
$teal-900: #004D40;
$teal-A100: #A7FFEB;
$teal-A200: #64FFDA;
$teal-A400: #1DE9B6;
$teal-A700: #00BFA5;

$cyan-50: #e0f7fa;
$cyan-100: #b2ebf2;
$cyan-200: #80deea;
$cyan-300: #4dd0e1;
$cyan-400: #26c6da;
$cyan-500: #00bcd4;
$cyan-600: #00acc1;
$cyan-700: #0097a7;
$cyan-800: #00838f;
$cyan-900: #006064;
$cyan-A100: #84FFFF;
$cyan-A200: #18FFFF;
$cyan-A400: #00E5FF;
$cyan-A700: #00B8D4;

$green-50: #E8F5E9;
$green-100: #C8E6C9;
$green-200: #A5D6A7;
$green-300: #81C784;
$green-400: #66BB6A;
$green-500: #4CAF50;
$green-600: #43A047;
$green-700: #388E3C;
$green-800: #2E7D32;
$green-900: #1B5E20;
$green-A100: #B9F6CA;
$green-A200: #69F0AE;
$green-A400: #00E676;
$green-A700: #00C853;

$amber-50: #FFF8E1;
$amber-100: #FFECB3;
$amber-200: #FFF59D;
$amber-300: #FFD54F;
$amber-400: #FFCA28;
$amber-500: #FFC107;
$amber-600: #FFB300;
$amber-700: #FFA000;
$amber-800: #F9A825;
$amber-900: #F57F17;
$amber-A100: #FFE57F;
$amber-A200: #FFD740;
$amber-A400: #FFC400;
$amber-A700: #FFAB00;

$deep-orange-50: #FBE9E7;
$deep-orange-100: #FFCCBC;
$deep-orange-200: #FFAB91;
$deep-orange-300: #FF8A65;
$deep-orange-400: #FF7043;
$deep-orange-500: #FF5722;
$deep-orange-600: #F4511E;
$deep-orange-700: #E64A19;
$deep-orange-800: #D84315;
$deep-orange-900: #BF360C;
$deep-orange-A100: #FF9E80;
$deep-orange-A200: #FF6E40;
$deep-orange-A400: #FF3D00;
$deep-orange-A700: #DD2C00;
