@use "_palette"as *;

// Primary
$theme-color-primary-50: $teal-50;
$theme-color-primary-100: $teal-100;
$theme-color-primary-200: $teal-200;
$theme-color-primary-300: $teal-300;
$theme-color-primary-400: $teal-400;
$theme-color-primary-500: $teal-500;
$theme-color-primary-600: $teal-600;
$theme-color-primary-700: $teal-700;
$theme-color-primary-800: $teal-800;
$theme-color-primary-900: $teal-900;
$theme-color-primary-A100: $teal-A100;
$theme-color-primary-A200: $teal-A200;
$theme-color-primary-A400: $teal-A400;
$theme-color-primary-A700: $teal-A700;
$theme-color-on-primary-50: $dark-gray-700;
$theme-color-on-primary-100: $dark-gray-700;
$theme-color-on-primary-200: $dark-gray-700;
$theme-color-on-primary-300: $dark-gray-700;
$theme-color-on-primary-400: $light-gray-100;
$theme-color-on-primary-500: $light-gray-100;
$theme-color-on-primary-600: $light-gray-100;
$theme-color-on-primary-700: $light-gray-100;
$theme-color-on-primary-800: $light-gray-100;
$theme-color-on-primary-900: $light-gray-100;
$theme-color-on-primary-A100: $dark-gray-700;
$theme-color-on-primary-A200: $dark-gray-700;
$theme-color-on-primary-A400: $dark-gray-700;
$theme-color-on-primary-A700: $light-gray-100;

// Secondary
$theme-color-secondary-50: $cyan-50;
$theme-color-secondary-100: $cyan-100;
$theme-color-secondary-200: $cyan-200;
$theme-color-secondary-300: $cyan-300;
$theme-color-secondary-400: $cyan-400;
$theme-color-secondary-500: $cyan-500;
$theme-color-secondary-600: $cyan-600;
$theme-color-secondary-700: $cyan-700;
$theme-color-secondary-800: $cyan-800;
$theme-color-secondary-900: $cyan-900;
$theme-color-secondary-A100: $cyan-A100;
$theme-color-secondary-A200: $cyan-A200;
$theme-color-secondary-A400: $cyan-A400;
$theme-color-secondary-A700: $cyan-A700;
$theme-color-on-secondary-50: $dark-gray-700;
$theme-color-on-secondary-100: $dark-gray-700;
$theme-color-on-secondary-200: $dark-gray-700;
$theme-color-on-secondary-300: $dark-gray-700;
$theme-color-on-secondary-400: $light-gray-100;
$theme-color-on-secondary-500: $light-gray-100;
$theme-color-on-secondary-600: $light-gray-100;
$theme-color-on-secondary-700: $light-gray-100;
$theme-color-on-secondary-800: $light-gray-100;
$theme-color-on-secondary-900: $light-gray-100;
$theme-color-on-secondary-A100: $dark-gray-700;
$theme-color-on-secondary-A200: $dark-gray-700;
$theme-color-on-secondary-A400: $dark-gray-700;
$theme-color-on-secondary-A700: $dark-gray-700;

// Success
$theme-color-success-50: $green-50;
$theme-color-success-100: $green-100;
$theme-color-success-200: $green-200;
$theme-color-success-300: $green-300;
$theme-color-success-400: $green-400;
$theme-color-success-500: $green-500;
$theme-color-success-600: $green-600;
$theme-color-success-700: $green-700;
$theme-color-success-800: $green-800;
$theme-color-success-900: $green-900;
$theme-color-success-A100: $green-A100;
$theme-color-success-A200: $green-A200;
$theme-color-success-A400: $green-A400;
$theme-color-success-A700: $green-A700;
$theme-color-on-success-50: $dark-gray-700;
$theme-color-on-success-100: $dark-gray-700;
$theme-color-on-success-200: $dark-gray-700;
$theme-color-on-success-300: $dark-gray-700;
$theme-color-on-success-400: $dark-gray-700;
$theme-color-on-success-500: $dark-gray-700;
$theme-color-on-success-600: $light-gray-100;
$theme-color-on-success-700: $light-gray-100;
$theme-color-on-success-800: $light-gray-100;
$theme-color-on-success-900: $light-gray-100;
$theme-color-on-success-A100: $dark-gray-700;
$theme-color-on-success-A200: $dark-gray-700;
$theme-color-on-success-A400: $dark-gray-700;
$theme-color-on-success-A700: $dark-gray-700;

// Warning
$theme-color-warning-50: $amber-50;
$theme-color-warning-100: $amber-100;
$theme-color-warning-200: $amber-200;
$theme-color-warning-300: $amber-300;
$theme-color-warning-400: $amber-400;
$theme-color-warning-500: $amber-500;
$theme-color-warning-600: $amber-600;
$theme-color-warning-700: $amber-700;
$theme-color-warning-800: $amber-800;
$theme-color-warning-900: $amber-900;
$theme-color-warning-A100: $amber-A100;
$theme-color-warning-A200: $amber-A200;
$theme-color-warning-A400: $amber-A400;
$theme-color-warning-A700: $amber-A700;
$theme-color-on-warning-50: $dark-gray-700;
$theme-color-on-warning-100: $dark-gray-700;
$theme-color-on-warning-200: $dark-gray-700;
$theme-color-on-warning-300: $dark-gray-700;
$theme-color-on-warning-400: $dark-gray-700;
$theme-color-on-warning-500: $dark-gray-700;
$theme-color-on-warning-600: $dark-gray-700;
$theme-color-on-warning-700: $dark-gray-700;
$theme-color-on-warning-800: $dark-gray-700;
$theme-color-on-warning-900: $dark-gray-700;
$theme-color-on-warning-A100: $dark-gray-700;
$theme-color-on-warning-A200: $dark-gray-700;
$theme-color-on-warning-A400: $dark-gray-700;
$theme-color-on-warning-A700: $dark-gray-700;

// Danger
$theme-color-danger-50: $deep-orange-50;
$theme-color-danger-100: $deep-orange-100;
$theme-color-danger-200: $deep-orange-200;
$theme-color-danger-300: $deep-orange-300;
$theme-color-danger-400: $deep-orange-400;
$theme-color-danger-500: $deep-orange-500;
$theme-color-danger-600: $deep-orange-600;
$theme-color-danger-700: $deep-orange-700;
$theme-color-danger-800: $deep-orange-800;
$theme-color-danger-900: $deep-orange-900;
$theme-color-danger-A100: $deep-orange-A100;
$theme-color-danger-A200: $deep-orange-A200;
$theme-color-danger-A400: $deep-orange-A400;
$theme-color-danger-A700: $deep-orange-A700;
$theme-color-on-danger-50: $dark-gray-700;
$theme-color-on-danger-100: $dark-gray-700;
$theme-color-on-danger-200: $dark-gray-700;
$theme-color-on-danger-300: $dark-gray-700;
$theme-color-on-danger-400: $dark-gray-700;
$theme-color-on-danger-500: $light-gray-100;
$theme-color-on-danger-600: $light-gray-100;
$theme-color-on-danger-700: $light-gray-100;
$theme-color-on-danger-800: $light-gray-100;
$theme-color-on-danger-900: $light-gray-100;
$theme-color-on-danger-A100: $dark-gray-700;
$theme-color-on-danger-A200: $dark-gray-700;
$theme-color-on-danger-A400: $light-gray-100;
$theme-color-on-danger-A700: $light-gray-100;

// Neutral (dark)
$dark-theme-color-neutral--layer-0: $dark-gray-700;
$dark-theme-color-neutral--layer-1: $dark-gray-600;
$dark-theme-color-neutral--layer-2: $dark-gray-500;
$dark-theme-color-neutral--layer-3: $dark-gray-400;
$dark-theme-color-neutral--layer-4: $dark-gray-300;
$dark-theme-color-neutral--layer-5: $dark-gray-200;
$dark-theme-color-on-neutral: $light-gray-100;

// Neutral (light)
$light-theme-color-neutral--layer-0: $light-gray-100;
$light-theme-color-neutral--layer-1: $light-gray-200;
$light-theme-color-neutral--layer-2: $light-gray-300;
$light-theme-color-neutral--layer-3: $light-gray-400;
$light-theme-color-neutral--layer-4: $light-gray-500;
$light-theme-color-neutral--layer-5: $light-gray-600;
$light-theme-color-on-neutral: $dark-gray-700;
