@use "_theme"as *;
@import "reset";
@import "fonts";

:root {
    --color-neutral--layer-0: #{$dark-theme-color-neutral--layer-0};
    --color-neutral--layer-1: #{$dark-theme-color-neutral--layer-1};
    --color-neutral--layer-2: #{$dark-theme-color-neutral--layer-2};
    --color-neutral--layer-3: #{$dark-theme-color-neutral--layer-3};
    --color-neutral--layer-4: #{$dark-theme-color-neutral--layer-4};
    --color-neutral--layer-5: #{$dark-theme-color-neutral--layer-5};
    --color-on-neutral: #{$dark-theme-color-on-neutral};

    --color-primary-50: #{$theme-color-primary-50};
    --color-primary-100: #{$theme-color-primary-100};
    --color-primary-200: #{$theme-color-primary-200};
    --color-primary-300: #{$theme-color-primary-300};
    --color-primary-400: #{$theme-color-primary-400};
    --color-primary-500: #{$theme-color-primary-500};
    --color-primary-600: #{$theme-color-primary-600};
    --color-primary-700: #{$theme-color-primary-700};
    --color-primary-800: #{$theme-color-primary-800};
    --color-primary-900: #{$theme-color-primary-900};
    --color-on-primary-50: #{$theme-color-on-primary-50};
    --color-on-primary-100: #{$theme-color-on-primary-100};
    --color-on-primary-200: #{$theme-color-on-primary-200};
    --color-on-primary-300: #{$theme-color-on-primary-300};
    --color-on-primary-400: #{$theme-color-on-primary-400};
    --color-on-primary-500: #{$theme-color-on-primary-500};
    --color-on-primary-600: #{$theme-color-on-primary-600};
    --color-on-primary-700: #{$theme-color-on-primary-700};
    --color-on-primary-800: #{$theme-color-on-primary-800};
    --color-on-primary-900: #{$theme-color-on-primary-900};

    --color-success-50: #{$theme-color-success-50};
    --color-success-100: #{$theme-color-success-100};
    --color-success-200: #{$theme-color-success-200};
    --color-success-300: #{$theme-color-success-300};
    --color-success-400: #{$theme-color-success-400};
    --color-success-500: #{$theme-color-success-500};
    --color-success-600: #{$theme-color-success-600};
    --color-success-700: #{$theme-color-success-700};
    --color-success-800: #{$theme-color-success-800};
    --color-success-900: #{$theme-color-success-900};
    --color-on-success-50: #{$theme-color-on-success-50};
    --color-on-success-100: #{$theme-color-on-success-100};
    --color-on-success-200: #{$theme-color-on-success-200};
    --color-on-success-300: #{$theme-color-on-success-300};
    --color-on-success-400: #{$theme-color-on-success-400};
    --color-on-success-500: #{$theme-color-on-success-500};
    --color-on-success-600: #{$theme-color-on-success-600};
    --color-on-success-700: #{$theme-color-on-success-700};
    --color-on-success-800: #{$theme-color-on-success-800};
    --color-on-success-900: #{$theme-color-on-success-900};

    --color-warning-50: #{$theme-color-warning-50};
    --color-warning-100: #{$theme-color-warning-100};
    --color-warning-200: #{$theme-color-warning-200};
    --color-warning-300: #{$theme-color-warning-300};
    --color-warning-400: #{$theme-color-warning-400};
    --color-warning-500: #{$theme-color-warning-500};
    --color-warning-600: #{$theme-color-warning-600};
    --color-warning-700: #{$theme-color-warning-700};
    --color-warning-800: #{$theme-color-warning-800};
    --color-warning-900: #{$theme-color-warning-900};
    --color-on-warning-50: #{$theme-color-on-warning-50};
    --color-on-warning-100: #{$theme-color-on-warning-100};
    --color-on-warning-200: #{$theme-color-on-warning-200};
    --color-on-warning-300: #{$theme-color-on-warning-300};
    --color-on-warning-400: #{$theme-color-on-warning-400};
    --color-on-warning-500: #{$theme-color-on-warning-500};
    --color-on-warning-600: #{$theme-color-on-warning-600};
    --color-on-warning-700: #{$theme-color-on-warning-700};
    --color-on-warning-800: #{$theme-color-on-warning-800};
    --color-on-warning-900: #{$theme-color-on-warning-900};

    --color-danger-50: #{$theme-color-danger-50};
    --color-danger-100: #{$theme-color-danger-100};
    --color-danger-200: #{$theme-color-danger-200};
    --color-danger-300: #{$theme-color-danger-300};
    --color-danger-400: #{$theme-color-danger-400};
    --color-danger-500: #{$theme-color-danger-500};
    --color-danger-600: #{$theme-color-danger-600};
    --color-danger-700: #{$theme-color-danger-700};
    --color-on-danger-50: #{$theme-color-on-danger-50};
    --color-on-danger-100: #{$theme-color-on-danger-100};
    --color-on-danger-200: #{$theme-color-on-danger-200};
    --color-on-danger-300: #{$theme-color-on-danger-300};
    --color-on-danger-400: #{$theme-color-on-danger-400};
    --color-on-danger-500: #{$theme-color-on-danger-500};
    --color-on-danger-600: #{$theme-color-on-danger-600};
    --color-on-danger-700: #{$theme-color-on-danger-700};
    --color-on-danger-800: #{$theme-color-on-danger-800};
    --color-on-danger-900: #{$theme-color-on-danger-900};
}

.light-theme {
    --color-neutral--layer-0: #{$light-theme-color-neutral--layer-0};
    --color-neutral--layer-1: #{$light-theme-color-neutral--layer-1};
    --color-neutral--layer-2: #{$light-theme-color-neutral--layer-2};
    --color-neutral--layer-3: #{$light-theme-color-neutral--layer-3};
    --color-neutral--layer-4: #{$light-theme-color-neutral--layer-4};
    --color-neutral--layer-5: #{$light-theme-color-neutral--layer-5};
    --color-on-neutral: #{$light-theme-color-on-neutral};
}

body {
    font-family: "Nunito Sans", sans-serif;
    margin: 0;
    background-color: var(--color-neutral--layer-0);
    color: var(--color-on-neutral);
}