@use "../../styles/theme" as *;

.root {
	display: initial;
}

.logo {
	width: 2.5em;
}

.grow {
	flex-grow: 1;
}

.drawerContent {
	width: 250px;
	max-width: 50vw;
	background-color: var(--color-neutral--layer-1);
	height: 100%;
}